body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #3498db;
}

.container {
  margin: 20px auto;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #3498db;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #3498db;
  border-radius: 5px;
  background-color: #ecf0f1;
  color: #333;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 15px 20px;
  margin: 0 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#onBtn {
  background-color: #2ecc71;
  color: #ecf0f1;
}

#offBtn {
  background-color: #e74c3c;
  color: #ecf0f1;
}

button:hover {
  background-color: #3498db;
  color: #fff;
}
